body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: start; */
  align-items: center;
  background-image: url('./images/533362.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

button, select {
  height: 2em;
  font-size: 1rem;
  background-color: #fff;
  color: #363636;
  border-right: 1px solid #dbdbdb;
  border-radius: 4px;
  cursor: pointer;
}

button:focus, select:focus {
  outline: none;  
}

button {
  padding: .25em .75em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

select {
  padding: .25em .5em;
}